In [2]:
import pandas as pd 
import numpy as np  
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [3]:
data=pd.read_csv("Admission_Predict_Ver1.1.csv")
data=data.drop('Serial No.',axis=1)
data

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
495,332,108,5,4.5,4.0,9.02,1,0.87
496,337,117,5,5.0,5.0,9.87,1,0.96
497,330,120,5,4.5,5.0,9.56,1,0.93
498,312,103,4,4.0,5.0,8.43,0,0.73
499,327,113,4,4.5,4.5,9.04,0,0.84

In [4]:
X=data

In [13]:
numerical_list=list(X.select_dtypes(exclude=['object']).columns.tolist())
categorical_list=["SOP","LOR ","Research","University Rating"]
numerical_list.remove("SOP")
numerical_list.remove("LOR ")
numerical_list.remove("Research")
numerical_list.remove("University Rating")
numerical_list.remove("Chance of Admit ")

In [14]:
print("Categorical Variables: ", categorical_list)
print("Numerical Variables: ", numerical_list)

Categorical Variables:  ['SOP', 'LOR ', 'Research', 'University Rating']
Numerical Variables:  ['GRE Score', 'TOEFL Score', 'CGPA']

In [15]:
X

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
495,332,108,5,4.5,4.0,9.02,1,0.87
496,337,117,5,5.0,5.0,9.87,1,0.96
497,330,120,5,4.5,5.0,9.56,1,0.93
498,312,103,4,4.0,5.0,8.43,0,0.73
499,327,113,4,4.5,4.5,9.04,0,0.84

In [16]:
X_encoded= pd.get_dummies(X, columns = categorical_list)

In [21]:
X_encoded

,GRE Score,TOEFL Score,CGPA,Chance of Admit,SOP_1.0,SOP_1.5,SOP_2.0,SOP_2.5,SOP_3.0,SOP_3.5,...,LOR _4.0,LOR _4.5,LOR _5.0,Research_0,Research_1,University Rating_1,University Rating_2,University Rating_3,University Rating_4,University Rating_5
0,1.819238,1.778865,1.776806,0.92,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,1,0
1,0.667148,-0.031601,0.485859,0.76,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,1,0
2,-0.041830,-0.525364,-0.954043,0.72,0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0
3,0.489904,0.462163,0.154847,0.80,0,0,0,0,0,1,...,0,0,0,0,1,0,0,1,0,0
4,-0.219074,-0.689952,-0.606480,0.65,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1.376126,0.132987,0.734118,0.87,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,1
496,1.819238,1.614278,2.140919,0.96,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1
497,1.198882,2.108041,1.627851,0.93,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1
498,-0.396319,-0.689952,-0.242367,0.73,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,1,0
499,0.933015,0.955926,0.767220,0.84,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0

In [18]:
standard_scaler=StandardScaler()
X_encoded[numerical_list]=standard_scaler.fit_transform(X_encoded[numerical_list])

In [19]:
X_encoded

,GRE Score,TOEFL Score,CGPA,Chance of Admit,SOP_1.0,SOP_1.5,SOP_2.0,SOP_2.5,SOP_3.0,SOP_3.5,...,LOR _4.0,LOR _4.5,LOR _5.0,Research_0,Research_1,University Rating_1,University Rating_2,University Rating_3,University Rating_4,University Rating_5
0,1.819238,1.778865,1.776806,0.92,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,1,0
1,0.667148,-0.031601,0.485859,0.76,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,1,0
2,-0.041830,-0.525364,-0.954043,0.72,0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0
3,0.489904,0.462163,0.154847,0.80,0,0,0,0,0,1,...,0,0,0,0,1,0,0,1,0,0
4,-0.219074,-0.689952,-0.606480,0.65,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1.376126,0.132987,0.734118,0.87,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,1
496,1.819238,1.614278,2.140919,0.96,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1
497,1.198882,2.108041,1.627851,0.93,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1
498,-0.396319,-0.689952,-0.242367,0.73,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,1,0
499,0.933015,0.955926,0.767220,0.84,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0

In [20]:
X_encoded.to_csv('data.csv')